<nav class="split-nav">
  <span class="nav-brand">
    <h3><a href="/">i8z</a></h3>
  </span>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <label for="collapsible1">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        {% for item in site.data.navigation %}
    	<li>  
	  <a href="{{ item.link }}">
      	    {{ item.name }}
    	  </a>
	</li>
  	{% endfor %}
      </ul>
    </div>
  </div>
</nav>
